#weight-input {
    height: 80px;
    width: min(600px, 80vw);
    font-size: 30px;
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

#result {
    height: 80px;
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result > p {
    font-family: sans-serif;
}

/* Code from https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}